# ========================
# ENVIRONMENT — LIVE
# ========================
# VITE_API_BASE_URL=
# VITE_ENABLE_ANALYTICS=true
# VITE_ENABLE_DEBUG_TOOLS=false




# ========================
# ENVIRONMENT — LOCAL
# ========================

VITE_API_BASE_URL=http://localhost:5000
VITE_ENABLE_ANALYTICS=false
VITE_ENABLE_DEBUG_TOOLS=true
VITE_APP_NAME="Jajoo Glass"